:root {
    /* general */
    --navbar-height: 60px;

    /* colors */
    --light-grey: rgb(234, 220, 212);
    --dark-grey: rgb(103, 73, 52);
}

:root {
    /* objects' color */
    --main-border-color: var(--dark-grey);
    --main-bg-color: var(--light-grey);
}
