.main {
    width: min(800px, 100vw);
    min-height: calc(100vh - var(--navbar-height));
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    background-image: linear-gradient(var(--main-bg-color-50), var(--main-bg-color-30));
    backdrop-filter: blur(3px);
    box-shadow: 0 0 70px 7px rgba(0, 0, 0, 30%);
}
