.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--navbar-height);
    box-sizing: border-box;
    border-bottom: 1px solid var(--main-border-color);

    background-color: var(--main-bg-color);
    z-index: 1;
}

.logo {
    height: 50%;
}
